/* General Reset */
body,
h1,
h2,
p,
ul,
li,
a,
select,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0a0c10;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Header */
header {
  background: linear-gradient(90deg, #0c0455, #3a2ec4, #0c0455);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #ffffff28;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #fe1965;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #e91e63;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 250px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/hero-section.jpg") no-repeat center center/cover;
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s;
}

.hero .cta-button:hover {
  background-color: #ff4081;
}

/* About Section */
.about {
  padding: 120px 20%;
  background: #0c0451;
  text-align: center;
}

.about h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #fa1e67;
  font-weight: 1--;
}

.about p {
  font-size: 18px;
  color: #fff;
}

/* Location Section */
.location {
  padding: 80px 20%;
  background: linear-gradient(45deg, #b080d3, #2a30dc, #000249);

  text-align: center;
}

.location h2 {
  font-size: 42px;
  color: #fa1e67;
  margin-bottom: 20px;
}

.location p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.map-container {
  position: relative;
  padding-top: 30px;
}

.map-container iframe {
  border: none;
  border-radius: 10px;
}

/* Services Section */
.services {
  padding: 150px 50px 300px 50px;
  background-color: #121212;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/services-section.jpg") no-repeat center center/cover;
}

.services h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service {
  background: #0a0a2f;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 300px;
}

.service h3 {
  font-size: 24px;
  color: #fa1e67;
  margin-top: 0px;
  margin-bottom: 20px;
}

.service p {
  color: #d6dcde;
  font-size: 18px;
  margin-bottom: 50px;
}

/* Equipment Section */
.equipment {
  padding: 100px 20%;
  background-color: #0c0451;
  text-align: center;
}

.equipment h2 {
  font-size: 42px;
  color: #fa1e67;
  margin-bottom: 40px;
}

.equipment-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.software,
.hardware {
  background-color: #0a0a2f;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
}

.software h3,
.hardware h3 {
  color: #fa1e67;
  font-size: 30px;
  margin-bottom: 20px;
}

.software ul,
.hardware ul {
  list-style: none;
  padding: 0;
}

.software ul li,
.hardware ul li {
  font-size: 18px;
  color: #d6dcde;
  margin-bottom: 10px;
}

/* Animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.software {
  animation-delay: 0.2s;
}

.hardware {
  animation-delay: 0.4s;
}

/* Star Topology Section */
.topology {
  padding: 80px 20%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("./images/star-bg.jpg") no-repeat center center/cover;
  text-align: center;
}

.topology h2 {
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 20px;
}

.topology p {
  font-size: 18px;
  color: #f8f8f8;
  margin-bottom: 40px;
}

.topology-diagram {
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
}

.topology-diagram img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.topology-diagram {
  animation-delay: 0.4s;
}

/* Floor Plan Section */
.floor-plan {
  padding: 100px 50px;
  text-align: center;
  background: linear-gradient(45deg, #000249, #2a30dc);
}

.floor-plan h2 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 20px;
}

.floor-plan p {
  font-size: 18px;
  color: #cfd8dc;
  margin-bottom: 30px;
}

.floor-plan-image {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.floor-plan-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.floor-plan-image img:hover {
  transform: scale(1.05);
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Pricing Section */
.pricing {
  padding: 100px 50px 300px 50px;
  background: linear-gradient(45deg, #b080d3, #2a30dc, #000249);
  text-align: center;
}

.pricing h2 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 20px;
}

.pricing p {
  font-size: 18px;
  color: #cfd8dc;
  margin-bottom: 30px;
}

.pricing-table {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pricing-item {
  background: linear-gradient(45deg, #b080d3, #2a30dc, #000249);
  padding: 10px 20px 80px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 250px;
  max-width: 250px;
}

.pricing-item:hover {
  transform: translateY(-3px);
  transition: 0.3s ease;
}

.pricing-item h3 {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px;
}

.pricing-item p {
  color: #e5e5e5;
  font-size: 16px;
}

.pricing .cta-button {
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px 20px;
}

.pricing .cta-button a {
  margin-top: 200px;
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: #fa1e67;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.pricing .cta-button a:hover {
  background-color: #ff4081;
}

/* Booking Section */
.booking {
  padding: 50px 20px;
  padding-bottom: 90px;
  background-color: #121212;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/booking-section.jpg") no-repeat center center/cover;
}

.booking h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #fa1e67;
}

.booking p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.booking-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: #0a0a2f;
  padding: 30px;
  border-radius: 10px;
}

.booking-form label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.booking-form select,
.booking-form input,
.booking-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: medium;
}

.booking-form button {
  background-color: #e91e63;
  cursor: pointer;
}

.booking-form .cta-button {
  color: #fff;
}

.booking-form button:hover {
  background-color: #ff4081;
}

/* Contact Us Section */
.contact {
  padding: 50px 20px;
  background-color: #121212;
  text-align: center;
  background: linear-gradient(90deg, #000f35, #1b348d, #8c5ef6);
}

.contact h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #fff;
}

.contact p {
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: #0a0a2f;
  padding: 30px;
  border-radius: 10px;
  background: url("./images/services-section.jpg") no-repeat center center/cover;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: transparent;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-size: medium;
  backdrop-filter: blur(18px);
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #ffffff78;
}

.contact-form button {
  background-color: #e91e63;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ff4081;
}

/* Footer Section */
footer {
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: small;
}

footer .social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer .social-links li a {
  text-decoration: none;
  color: #fff;
}

footer .social-links li a:hover {
  color: #ff4081;
}

/* Add these at the bottom of your existing CSS */

/* Scroll Animations */
.section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease-out;
}

.section.active {
  opacity: 1;
  transform: translateY(0);
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.3s;
}

/* Navigation for Mobile */
.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu.active ul {
  display: block;
  position: absolute;
  background: #0c0455;
  padding: 20px;
  border-radius: 8px;
  top: 60px;
  right: 20px;
}

@media screen and (max-width: 1000px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1001;
    /* Align to the right */
    position: absolute;
    right: 20px; /* Adjust distance from the right edge */
    top: 50%; /* Center vertically relative to the header */
    transform: translateY(-50%);
  }

  .nav-menu ul {
    display: none;
  }

  .nav-menu.active ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 1000px) {
  /* Hero Section */
  .hero {
    padding: 150px 10px;
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  /* About Section */
  .about {
    padding: 80px 10%;
  }

  .about h2 {
    font-size: 32px;
  }

  .about p {
    font-size: 16px;
  }

  /* Services Section */
  .services {
    padding: 80px 20px;
  }

  .service-list {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .service {
    max-width: 90%;
  }

  /* Equipment Section */
  .equipment-list {
    flex-direction: column;
    gap: 20px;
  }

  .software,
  .hardware {
    width: 90%;
  }

  /* Pricing Section */
  .pricing-table {
    flex-direction: column;
    gap: 20px;
  }

  .pricing-item {
    width: 90%;
  }

  /* Contact Section */
  .contact-form {
    width: 90%;
    margin: 0 auto;
  }

  /* Footer Section */
  footer {
    padding: 20px;
    font-size: small;
  }
}

/* Modal Styles */
/* Modal Background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Close Button */
.close-btn {
  color: #ff4081;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #fff;
}

/* Input Fields */
.modal-content input,
.modal-content button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Submit Button */
.submit-btn {
  background-color: #e91e63;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ff4081;
}
