/* General Reset */
body,
h1,
h2,
p,
ul,
li,
a,
select,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0a0c10;
  color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Header */
header {
  background: linear-gradient(90deg, #0c0455, #7068c6, #0c0455);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #ffffff28;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #fa1e67;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #e91e63;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 250px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/hero-section.jpg") no-repeat center center/cover;
  color: #fff;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s;
}

.hero .cta-button:hover {
  background-color: #ff4081;
}

/* About Section */
.about {
  padding: 120px 20%;
  background: #0c0451;
  text-align: center;
}

.about h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #fa1e67;
  font-weight: 1--;
}

.about p {
  font-size: 18px;
  color: #fff;
}

/* Services Section */
.services {
  padding: 150px 50px 300px 50px;
  background-color: #121212;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/services-section.jpg") no-repeat center center/cover;
}

.services h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service {
  background: #0a0a2f;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 300px;
}

.service h3 {
  font-size: 24px;
  color: #fa1e67;
  margin-top: 0px;
  margin-bottom: 20px;
}

.service p {
  color: #d6dcde;
  font-size: 18px;
  margin-bottom: 50px;
}

/* Pricing Section */
.pricing {
  padding: 100px 50px 300px 50px;
  background: linear-gradient(45deg, #b080d3, #2a30dc, #000249);
  text-align: center;
}

.pricing h2 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 20px;
}

.pricing p {
  font-size: 18px;
  color: #cfd8dc;
  margin-bottom: 30px;
}

.pricing-table {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pricing-item {
  background: linear-gradient(45deg, #b080d3, #2a30dc, #000249);
  padding: 10px 20px 80px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 250px;
}

.pricing-item:hover {
  transform: translateY(-3px);
  transition: 0.3s ease;
}

.pricing-item h3 {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px;
}

.pricing-item p {
  color: #e5e5e5;
  font-size: 16px;
}

.pricing .cta-button {
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px 20px;
}

.pricing .cta-button a {
  margin-top: 200px;
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: #fa1e67;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.pricing .cta-button a:hover {
  background-color: #ff4081;
}

/* Booking Section */
.booking {
  padding: 50px 20px;
  padding-bottom: 90px;
  background-color: #121212;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/booking-section.jpg") no-repeat center center/cover;
}

.booking h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #fa1e67;
}

.booking p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.booking-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: #0a0a2f;
  padding: 30px;
  border-radius: 10px;
}

.booking-form label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.booking-form select,
.booking-form input,
.booking-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: medium;
}

.booking-form button {
  background-color: #e91e63;
  cursor: pointer;
}

.booking-form .cta-button {
  color: #fff;
}

.booking-form button:hover {
  background-color: #ff4081;
}

/* Contact Us Section */
.contact {
  padding: 50px 20px;
  background-color: #121212;
  text-align: center;
  background: linear-gradient(90deg, #000f35, #1b348d, #8c5ef6);
}

.contact h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #fff;
}

.contact p {
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: #0a0a2f;
  padding: 30px;
  border-radius: 10px;
  background: url("./images/services-section.jpg") no-repeat center center/cover;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: transparent;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
  font-size: medium;
  backdrop-filter: blur(18px);
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #ffffff78;
}

.contact-form button {
  background-color: #e91e63;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #ff4081;
}

/* Footer Section */
footer {
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: small;
}

footer .social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer .social-links li a {
  text-decoration: none;
  color: #fff;
}

footer .social-links li a:hover {
  color: #ff4081;
}
